/* I haven't wrote css as css in so long i forgot how paintful it was... */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .nav-wrapper {
      display: flex;
  }

  #nav-mobile > li > a {
    color: rgba(255,255,255,.5);
  }

  #nav-mobile > li:not(.active) > a:hover {
    background-color: rgba(97,97,97, .3);
    color: rgba(255,255,255,.8);
  }

  .active > a {
      color: #fff !important;
  }

  #main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow: auto;
  }

  #loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #loader > span {
    margin-top: 10px;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .card {
    width: fit-content;
    padding: 10px;
  }

  #content {
    display: none;
    width: 100%;
    overflow: auto;
  }
  .brand-logo {
    margin: 0px 10px;
    position: relative !important;
  }